apiVersion: devops.alauda.io/v1alpha1
kind: PipelineTaskTemplate
metadata:
  name: alaudaCodeScan
  annotations:
    alauda.io/displayName.zh-CN: 代码扫描
    alauda.io/displayName.en: CodeScan
    alauda.io/description.zh-CN: 代码扫描
    alauda.io/description.en: CodeScan
    alauda.io/readme.zh-CN: 代码扫描
    alauda.io/readme.en: CodeScan
    alauda.io/version: v0.2
    alauda.io/style.icon: 
  labels:
    catgory: CI
spec:
  engine: gotpl
  agent:
    label: docker
  body: |+
    script{
      sh "sonar-scanner"
      sh "echo {{.integrationID}} \
          echo {{.qualityGate}} \
          echo {{.lang}} \
          echo {{.sonarContextDir}} \
          echo {{.propertiesPath}}"
    }
  arguments:
    - name: "integrationID"
      schema:
        type: string
      display:
        type: alauda.io/integrations/sonarqube
        name:
          zh-CN: "Jenkins集成实例ID"
          en: "Jenkins Integration Instance ID"
      required: true
      default: ""
    - name: "qualityGate"
      schema:
        type: string
      display:
        type: alauda.io/sonarqube/qualitygate
        name:
          zh-CN: "Sonar扫描质量阈"
          en: "Sonar Scan QualityGate"
      required: false
      default: ""
    - name: "lang"
      schema:
        type: string
      display:
        type: alauda.io/sonarqube/lang
        name:
          zh-CN: "语言"
          en: "Sonar Scan Language"
      required: false
      default: ""
    - name: "sonarContextDir"
      schema:
        type: string
      display:
        type: string
        name:
          zh-CN: "代码扫描路径"
          en: "code path of sonar scanner"
      required: false
      default: .
    - name: "propertiesPath"
      schema:
        type: boolean
      display:
        type: boolean
        name:
          zh-CN: "sonar-project.properties路径"
          en: "sonar-project.properties Path"
      required: true
      default: .