apiVersion: devops.alauda.io/v1alpha1
kind: PipelineTaskTemplate
metadata:
  name: alaudaCodeScan
  annotations:
    alauda.io/displayName.zh-CN: 代码扫描
    alauda.io/displayName.en: CodeScan
    alauda.io/description.zh-CN: 代码扫描
    alauda.io/description.en: CodeScan
    alauda.io/readme.zh-CN: 代码扫描
    alauda.io/readme.en: CodeScan
    alauda.io/version: v0.4.16
    alauda.io/style.icon: 
  labels:
    catgory: CI
spec:
  engine: gotpl
  agent:
    label: sonarqube
  body: |+
    script{
      {{- if .sonarScanEnabled}}
        // unstash cloneCode
        unstash "cloneCode"

        // get sonar token and url
        def sonar_info = alauda.retrieveIntegration("{{.integrationID}}", "")

        // set quality gate
        {{if .qualityGate}}
        sh "echo start setting qualitygate {{.qualityGate}} for {{.sonarProjectName}}"
        sh "set-qualitygate ${sonar_info['endpoint']} ${sonar_info['token']} \
                      {{.qualityGate}} {{.sonarProjectName}} {{.sonarProjectKey}}"
        {{end}}

        // wrap sonar-scanner command
        def SONAR_SCANNER_OPTS=[]
        SONAR_SCANNER_OPTS << "-Dsonar.host.url=${sonar_info['endpoint']}"
        SONAR_SCANNER_OPTS << "-Dsonar.login=${sonar_info['token']}"

        {{if .lang}}
        SONAR_SCANNER_OPTS << '-Dsonar.language={{.lang}}'
        {{end}}
        {{if .sonarContextDir}}
        SONAR_SCANNER_OPTS << '-Dsonar.sources={{.sonarContextDir}}'
        {{end}}
        {{if .propertiesPath}}
        SONAR_SCANNER_OPTS << '-Dproject.settings={{.propertiesPath}}'
        {{end}}

        // start scan
        withSonarQubeEnv('sonarqube') {
          sh "sonar-scanner ${SONAR_SCANNER_OPTS.join(' ')}"
          {{if .waitForQualityGate}}
          sh "cmdsonar --host ${sonar_info['endpoint']} \
              --token ${sonar_info['token']}"
          {{end}}
        }

      {{- else}}
      echo "not enable sonar code scan, will do nothing."
      {{- end}}
    }
  arguments:
    - name: "sonarScanEnabled"
      schema:
        type: boolean
      display:
        type: boolean
        name:
          zh-CN: "是否开启代码扫描"
          en: "Enable Sonar Scan"
        description:
          zh-CN: 是否开启代码扫描
          en: If Enable Sonar Scan
      required: true
      default: false
    - name: "integrationID"
      schema:
        type: string
      display:
        type: alauda.io/integrations/sonarqube
        name:
          zh-CN: "Jenkins集成实例ID"
          en: "Jenkins Integration Instance ID"
      required: true
      default: ""
    - name: "qualityGate"
      schema:
        type: string
      display:
        type: alauda.io/sonarqube/qualitygate
        name:
          zh-CN: "Sonar扫描质量阈"
          en: "Sonar Scan QualityGate"
      required: false
      default: ""
    - name: "sonarProjectKey"
      schema:
        type: string
      display:
        type: string
        name:
          zh-CN: "Sonar项目Key"
          en: "Sonar Project Key"
        description:
          zh-CN: "Sonar项目Key"
          en: "Sonar Project Key"
      required: false
      default: ""
    - name: "sonarProjectName"
      schema:
        type: string
      display:
        type: string
        name:
          zh-CN: "Sonar项目Name"
          en: "Sonar Project Name"
        description:
          zh-CN: "Sonar项目Name"
          en: "Sonar Project Name"
      required: false
      default: ""
    - name: "lang"
      schema:
        type: string
      display:
        type: alauda.io/sonarqube/lang
        name:
          zh-CN: "语言"
          en: "Sonar Scan Language"
      required: false
      default: ""
    - name: "sonarContextDir"
      schema:
        type: string
      display:
        type: string
        name:
          zh-CN: "代码扫描路径"
          en: "code path of sonar scanner"
      required: false
      default: .
    - name: "propertiesPath"
      schema:
        type: string
      display:
        type: string
        name:
          zh-CN: "sonar-project.properties路径"
          en: "sonar-project.properties Path"
      required: true
      default: "./sonar-project.properties"
    - name: "waitForQualityGate"
      schema:
        type: boolean
      display:
        type: boolean
        name:
          zh-CN: "是否等待扫描结果"
          en: "Enable Wait QualityGate"
        description:
          zh-CN: 是否等待扫描结果
          en: If Enable Wait QualityGat
      required: false
      default: false